// Imports

/* Rout elements */

/* General Styles */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Karla', sans-serif;
}

body {
    max-width: 1440px;
}
a {
    color: black;
}

/* Header */

/* Main */

/* Footer */




/* Media */

@media screen and (max-width: 800px) {
   
}

